.Navigation {
  margin-bottom: 20px;
}

.Navbar {
  background-color: #1e1e1e;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Brand {
  color: white;
  font-size: 15px;
  margin-top: -20px;
}

.NavLink {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: -20px;
}

.NavLink:hover {
  color: wheat;
}
