.AuthForm {
  border: 1px grey solid;
  padding: 15px;
  border-radius: 7px;
}
/* 
* {
  background-color: aqua;
} */

.buttonForm {
  width: 100%;
  background-color: #d70f64 !important;
  color: white !important;
}
